.cache/
*.o
*.a
*.so
*.d
*.dll
*.dylib
*.exe
*.out
vgcore*
/minishell
/minishell_bonus
/42sh
/42sh_bonus
dummyshell
.vscode/
*.nfs*
.*nfs.
*.*swp*
.*.swp*

/*-ast.png

config/.last_comp
minishell-tester
minishell_tester

.direnv/
